<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="javascripts/manifest.js"></script>
  <script type="text/javascript">
    (function (){
      DNA = {};
      DNA.setting = {};
      DNA.manifest = manifest;
      DNA.url = window.location.href;
      DNA.initialize = function(){
        console.log("init")
        $.each($('[data-interaction]'), function(index , el){
          console.log("loop through data-interactions", el)
          var interaction = $(el).data()['interaction'];
          var interactionType = DNA.manifest[interaction]["action"];
          if(interactionType === "click"){
            console.log("bind clicks" , interaction)
            console.log("bind clicks" , el, DNA.manifest)
            $(el).bind("click", function(){
              DNA.createInteraction( DNA.manifest[interaction]);
            })
          }
        })
      };
      $(document).ready(function(){
        DNA.createInteraction(DNA.manifest["PGV"]);
      });
      DNA.createInteraction = function(data){
        var trackingRegex = DNA.url.match(/(t=|tracking_id=)([^&]*)/)
        var trackingId = trackingRegex && trackingRegex[2];
        $.extend(data['data'], {url: DNA.url, tracking_id: trackingId});
        console.log("sending interaction", data);
        $.ajax("http://localhost:3000/interactions", {type: 'POST', data: data});
      }
    })();
  </script>
</head>
<body>
Index Page
<div data-interaction="BLC">Hello2</div>
</body>
</html>