<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="javascripts/manifest.js"></script>
  <script type="text/javascript">
    (function (){
      DNA = {};
      DNA.manifest = manifest;
      //User id information if present
      DNA.registerUser = {
        uid: 4567,
        suid: 100002407031588,
        uat: 'CAABtmte1ZAbgBAHphCd4Qk5COcAZCrWrSODuT6czvYifUtevd3IrKzRYcsereekoIbKNWNSk31y7LJDLEVjOZCyFRnusB0A4oxqOEjHddzknHrBSpdCzY23tjOcB5d9URzxZBdikYC1nFRM2VdgUKNZAzopnGdZA39CeclA12hTacTI36COqKzLbbwUZAMaJrkZD'
      };
      //Initialize for 'Click' interactions capture
      DNA.initialize = function(){
        $.each($('[data-interaction]'), function(index , el){
          var interaction = $(el).data()['interaction'];
          var interactionType = DNA.manifest[interaction]["action"];
          if(interactionType === "click"){
            $(el).bind("click", function(){
              DNA.createInteraction( DNA.manifest[interaction]);
            })
          }
        })
      };
      //Visit interactions
      $(document).ready(function(){
        DNA.createInteraction(DNA.manifest['PGV']);
        DNA.initialize();
      });
      DNA.createInteraction = function(data){
        $.ajax("/interactions", {
          crossDomain: true,
          xhrFields: {
            withCredentials: true
          },
          type: 'POST',
          data: $.extend(data, {created_at: new Date().toISOString(), userInfo: DNA.registerUser})});
      }
    })();
  </script>
</head>
<body>
Index Page
<div data-interaction="BLC">Hello2</div>
</body>
</html>