<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="javascripts/manifest.js"></script>
  <script type="text/javascript">
    (function (){
      DNA = {};
      DNA.setting = {};
      DNA.manifest = manifest;
      DNA.defaultData = defaultData;
      //Initialize for 'Click' interactions capture
      DNA.initialize = function(){
        $.each($('[data-interaction]'), function(index , el){
          console.log("loop through data-interactions", el)
          var interaction = $(el).data()['interaction'];
          var interactionType = DNA.manifest[interaction]["action"];
          if(interactionType === "click"){
            console.log("bind clicks" , interaction)
            console.log("bind clicks" , el, DNA.manifest)
            $(el).bind("click", function(){
              DNA.createInteraction( DNA.manifest[interaction]);
            })
          }
        })
      };
      //Visit interactions
      $(document).ready(function(){
        DNA.createInteraction(DNA.manifest['PGV']);
      });
      DNA.createInteraction = function(data){
        $.extend(data, {created_at: new Date().toISOString()});
        $.extend(data['data'], DNA.defaultData);
        $.ajax("http://localhost:3000/interactions", {type: 'POST', data: data});
      }
    })();
  </script>
</head>
<body>
Index Page
<div data-interaction="BLC">Hello2</div>
</body>
</html>