<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="javascripts/manifest.js"></script>
  <script type="text/javascript">
    (function (){
      DNA = {};
      DNA.manifest = manifest;
      //User id information if present
      DNA.registerUser = {
        uid: null,
        suid: null,
        uat: null
      };
      //Initialize for 'Click' interactions capture
      DNA.initialize = function(){
        $.each($('[data-interaction]'), function(index , el){

         var dataValues = {}
         $.each($(el).data(), function(key, value) {
            dataValues[key] = value
         })
          var interaction = dataValues.interaction;
          var interactionType = DNA.manifest[interaction]["action"];
          if(interactionType === "click"){
            $(el).bind("click", function(){
              DNA.createInteraction($.extend(DNA.manifest[interaction], {
              media_id: 123
              }), $.extend(DNA.manifest[interaction].data, dataValues))
            })
          }
        })
      };
      //Visit interactions
      $(document).ready(function(){
        DNA.createInteraction(DNA.manifest['PGV']);
        DNA.initialize();
      });
      DNA.createInteraction = function(data){
        $.ajax("/interactions", {
          crossDomain: true,
          xhrFields: {
            withCredentials: true
          },
          type: 'POST',
          data: $.extend(data, {created_at: new Date().toISOString(), userInfo: DNA.registerUser})});
      }
    })();
  </script>
</head>
<body>
Index Page
<div id='what' data-interaction="BLC" data-group="In Theaters" title="Delivery Man" data-target="264">Hello2</div>
</body>
</html>